body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.character-library {
  background:#1a1a22;
  padding:20px;
  border-radius:10px;
  margin-bottom:40px;
}

#characterList li{
  padding:8px;
  background:#222;
  margin-bottom:6px;
  border-radius:6px;
  cursor:pointer;
}

.hero {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  background: black;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

textarea, input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
